
/*BACKGROUND*/
.background-color {
	background-color: #FFFCB7;
	margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px;
  outline: 1px;
  outline-offset: 15px;
}

/*TOP SECTION*/
.top-section {
	height :150px;
}

.top-header {
	float: right;
	width: 85%;
	heigth : 75px;
}

.top-header h1 {
	margin-top: 20px;
	margin-left: 20px;
}

.LOGO {
	float:left;
	width:15%;
	height:150px;
}


.topnav {
	float: right;
	width: 85%;
	heigth : 75px;
}

.topnav input {
	margin-left: 20px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  background-color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}   

.mid-section div.info-box {
  float: left;
  background-color: lightgreen;
  border-radius: 25pt;
  height: 250px;
  width: 30%;
}

.mid-section div.submit-box {
  float: right;
  background-color: lightgreen;
  border-radius: 25pt;
  height: 500px;
  width: 55%;
  margin-right: 10%;
}

.mid-section div.info-box div.info-header {
  text-align: center;
  border-top-right-radius: 25pt;
  border-top-left-radius: 25pt;
  background-color: lightgrey;
  width: 100%;
  height: 20%;
  font-size: 17pt;
}

.mid-section div.submit-box div.submit-header {
  text-align: center;
  border-top-right-radius: 25pt;
  border-top-left-radius: 25pt;
  background-color: lightgrey;
  width: 100%;
  height: 10%;
  font-size: 20pt;
}

.mid-section div.submit-box div.quest {
  margin-left: 15%;
  margin-top: 20%;
  float: left;
  width: 50%;
  height: 15%;
}

.mid-section div.submit-box div.quest input.quest-input {
  width: 100%;
}

.mid-section div.submit-box div.Email {
  margin-left: 15%;
  float: left;
  width: 50%;
  height: 50%;
}

.mid-section div.submit-box div.Email input.Email-input {
    width: 100%;
}

.mid-section div.submit-box div.button{
  float:right;
  width: 30%;
  height: 10%;
  margin-top: 25%;
} 
