
.background-color {
	background-color: #FFFCB7;
	margin-top: 20px;
  	margin-bottom: 20px;
  	margin-right: 20px;
  	margin-left: 20px;
  	border: 1px;
  	outline: 1px;
  	outline-offset: 15px;
}


.LOGO {
	float:left;
	width:15%;
	height:150px;
}

.nav_container {
	margin-top: 100px;
	float:right;
	width:85%;
	height:50px;
}

nav-log-section:after {
	display: table;
	clear: both;
}

menu_section:after {
	display: table;
	clear: both;
}

.vertical-menu {
	font-size: 15px;
	font-family: unset;
	margin-top:100px;
	float:left;
	width: 200px; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

.box {
	width: 80%;
	background-color:green;
	color:white;
	padding:20px;
	float: right;
	margin-top:100px;
	height: 400px;
}

.button {
	float: bottom;
}

.button a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.button a:hover {
  background-color: #afe; /* Dark grey background on mouse-over */
}
